<div class="offset-md-2 offset-1 mt-5 mb-5 pb-1 col-8">
    <div class="row pb-2 pb-md-0">
        <div class="col-4">{% include "keyvalueheader.html" with Title="Unidade" Value=CRAS %}</div>
        <div class="col-4">{% include "keyvalueheader.html" with Title="ID Cras" Value=id_cras %}</div>
    </div>
    <div class="pb-2 pb-md-0">
        <div class="col-8">{% include "keyvalueheader.html" with Title="Mês e ano de referência" Value=mes_ano %}</div>
    </div>
    <div class="pb-2 pb-md-0">
        <div class="col-8">{% include "keyvalueheader.html" with Title="Endereço" Value=endereco %}</div>
    </div>
    <div class="pb-2 pb-md-0">
        <div class="col-8">{% include "keyvalueheader.html" with Title="Município" Value=municipio %}</div>
    </div>
    <div class="pb-2 pb-md-0">
        <div class="col-8">{% include "keyvalueheader.html" with Title="UF" Value=uf %}</div>
    </div>
</div>