<div class="row">
    <div class="border-end-0 border-1 border-secondary mb-3 col-md-1 bg-primary rounded-start d-flex align-items-center justify-content-center"
        style="font-size: 1vw; width: 2vw; color: rgb(255, 255, 255)" ;>
        {{question_name}}
    </div>
    <div class="d-flex align-items-start border mb-2 col-md-4" style="font-size: 1vw; height: 69px;">
        {{question_text}}
    </div>

    <div class="d-flex bg-light mb-3 col-md-7">
        <!--coluna 1-->
        <div class="col position-relative">
            <div class='row mb-1 position-absolute top-0 start-0 '
                style="transform: translateY(-100%); font-size: 1vw; color:#3b71ca">
                Total
            </div>
            <div class='row mb-1 position-absolute translate-middle start-50 top-50'>
                <input></input>
            </div>

        </div>
        <!--coluna 2-->
        <div class="col position-relative">
            <div class='row mb-1 position-absolute top-0 start-0'
                style="transform: translateY(-100%); font-size: 1vw; color:#3b71ca">
                Sexo
            </div>
            <div class='row mb-1'>
                <input></input>
            </div>
            <div class="row">
                <input />
            </div>
        </div>
        <!--coluna 3-->
        <div class="col position-relative">
            <div class='row mb-1 position-absolute top-0 start-0 '
                style="transform: translateY(-100%); font-size: 1vw; color:#3b71ca">
                0 a 12 anos
            </div>
            <div class='row mb-1'>
                <input></input>
            </div>
            <div class="row">
                <input />
            </div>
        </div>
        <!--coluna 4-->
        <div class="col position-relative">
            <div class='row mb-1 position-absolute top-0 start-0 '
                style="transform: translateY(-100%); font-size: 1vw;color:#3b71ca">
                13 a 17 anos
            </div>
            <div class='row mb-1'>
                <input></input>
            </div>
            <div class="row">
                <input />
            </div>
        </div>
        <!--coluna 5-->
        <div class="col position-relative">
            <div class='row mb-1 position-absolute top-0 start-0 '
                style="transform: translateY(-100%); font-size: 1vw;color:#3b71ca">
                18 a 39 anos
            </div>
            <div class='row mb-1'>
                <input></input>
            </div>
            <div class="row">
                <input />
            </div>
        </div>
        <!--coluna 6-->
        <div class="col position-relative">
            <div class='row mb-1 position-absolute top-0 start-0 '
                style="transform: translateY(-100%); font-size: 1vw; color:#3b71ca">
                40 a 59 anos
            </div>
            <div class='row mb-1'>
                <input></input>
            </div>
            <div class="row">
                <input />
            </div>
        </div>
        <!--coluna 7-->
        <div class="col position-relative">
            <div class='row mb-1 position-absolute top-0 start-0 '
                style="transform: translateY(-100%); font-size: 1vw; color:#3b71ca">
                60 anos ou mais
            </div>
            <div class='row mb-1'>
                <input></input>
            </div>
            <div class="row">
                <input />
            </div>
        </div>


    </div>

</div>